
<li [ngClass]="{'list-group-item': true,'list-group-item-success' : loveIts>0,'list-group-item-danger': loveIts<0 }">
  <div class="row">
    <div class="col-xs-10">
      <h4>{{ title }} </h4>
    </div>
    <div class="col-xs-2" style="color:darkgrey">
      <i>{{ created_at | date:'short' }}</i>
    </div>
    <div class="col-xs-12">
      <p>{{ content }}</p>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-1">
        <button class="btn btn-success" (click)="loveIt()">Love it!</button>
      </div>
      <div class="col-xs-1">
        <button class="btn btn-danger" (click)="dontLoveIt()">Don't love it!</button>
      </div>
    </div>
  </div>
</li>

